* {
    outline: none;
}

body {
    background: $smoke;
    font-family: $font1;
}

section {
    .container {
        padding: 75px 15px;

        h2 {
            padding-bottom: 75px;
            @include font-size(32px);
            font-weight: bold;
            letter-spacing: 1px;
            margin: 0;
        }
    }
}

.btn-info {
    border-color: $blue;
    background: $blue;
    border-radius: 50px;
    border: 0;
}

.column-group {
    @include clearfix;
}




