/*
Find your favorite colors at here :
http://flatcolors.net/
https://www.materialpalette.com/colors/
https://color.adobe.com/create/color-wheel/
*/

$white      :#ffffff;
$smoke      :#f7f7f7;
$darksmoke  :#d6d7d7;
$red        :#ff5a5e;
$green      :#51a94e;
$gray       :#888888;
$blue       :#45bbe4;
$yellow     :#fbdb45;
$orange     :#e67e22;
$midnight   :#1f1f1f;
$black      :#000000;