/*
Author      : Faizal Andyka
Website     : https://www.linkedin.com/in/logustra
Github      : https://github.com/Logustra
Upwork      : https://www.upwork.com/o/profiles/users/_~01d79ca5dcabfd8b35
Skype       : logustra
Telegram    : @logustra
*/

// utils
@import "utils/mixins";
@import "utils/breakpoints";

// base
@import "base/colors";
@import "base/animation";
@import "base/typography";
@import "base/base";
@import "base/grid";

// layout
@import "layout/loader";
@import "layout/navbar";
@import "layout/hero";
@import "layout/download";
@import "layout/banner";
@import "layout/features";
@import "layout/footer";
