.download {

    .row {
        margin: 0 -25px;

        .sapl-col-md-4 {
            padding: 0 25px;
        }
    }

    figure {
        background: $white;
        padding: 30px;
        text-align: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        &:hover {
            span, h2 {
                color: $blue;
                transition: .5s;
            }
        }

        span {
            @include font-size(117px);
            color: $darksmoke;
            transition: .5s;
        }

        figcaption {

            h2 {
                @include font-size(24px);
                color: $darksmoke;
                margin: 30px 0;
                padding: 0;
                cursor: default;
                transition: .5s;
            }

            p {
                height: 105px;
                font-weight: 300;
                margin-bottom: 30px;
                @include font-size(15px);
                cursor: default;
            }

            .btn {
                width: 100%;
                @include font-size(16px);
            }
        }
    }
}

@include mq(xxsmall) {
    .download {
        .row {
            margin: 0 -25px;

            .sapl-col-md-4 {
                padding: 7.5px 25px;
            }
        }

        figure {
            
            figcaption {
               
                p {
                    height: auto;
                }
            }
        }
    }
}

@include mq(xsmall) {
    .download {
        .row {
            margin: 0 -25px;

            .sapl-col-md-4 {
                padding: 7.5px 25px;
            }
        }

        figure {
            
            figcaption {
               
                p {
                    height: auto;
                }
            }
        }
    }
}

@include mq(small) {
    .download {
        .row {
            margin: 0 -25px;

            .sapl-col-md-4 {
                padding: 7.5px 25px;
            }
        }

        figure {
            
            figcaption {
               
                p {
                    height: auto;
                }
            }
        }
    }
}