footer {
    background: $midnight;
    color: $white;
    padding: 20px 0;

    .container {
        display: flex;
        align-items: center;
    }

    .sapl-col-md-6 {
        padding: 0;

        &:last-of-type {
            text-align: right;
        }

        a {
            color: $white;
            
            &:hover {
                text-decoration: none;
            }
        }
    }

    p,ul {
        margin: 0;
    }

    ul {

        li {

            a {
                display: block !important;

                &:hover {
                    span {
                        color: $blue;
                        transition: .5s;
                    }
                }

                span {
                    @include font-size(25px);
                    color: $white;
                    transition: .5s;
                }
            }
        }
    }
}

@include mq(xxsmall) {
    footer {
        .container {
            display: block;
        }

        .sapl-col-md-6 {
            text-align: center;

            &:last-of-type {
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}

@include mq(xsmall) {
    footer {
        .container {
            display: block;
        }

        .sapl-col-md-6 {
            text-align: center;

            &:last-of-type {
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}

@include mq(small) {
    footer {
        .container {
            display: block;
        }

        .sapl-col-md-6 {
            text-align: center;

            &:last-of-type {
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}