.hero {
    height: 697px;
    color: $white;

    .container {
        padding: 0 15px;

        img {
            margin-top: 115px;
        }

        p {
            margin: 50px 0 100px 0;
            @include font-size(18px);
            font-weight: 300;
            cursor: default;
        }

        .icon-scroll,
        .icon-scroll:before {
            position: absolute;
            left: 51%;
        }

        .icon-scroll {
            width: 30px;
            height: 45px;
            margin-left: -20px;
            margin-top: -35px;
            box-shadow: inset 0 0 0 1px #fff;
            border-radius: 25px;

            &:before {
                content: '';
                width: 3px;
                height: 8px;
                background: #fff;
                margin-left: -2px;
                top: 8px;
                border-radius: 3px;
                animation: scroll 1s infinite;
            }
        }
    }
}

@include mq(xxsmall) {
    .hero {

        .container {

            img {
                max-width: 150px;
                margin-top: 140px;
            }

            p {
                @include font-size(15px);
            }

            .icon-scroll,
            .icon-scroll:before {
                left: 52.5%;
            }

            .icon-scroll {
                width: 25px;
                height: 38px;

                &:before {
                    width: 3px;
                    height: 7px;
                }
            }
        }
    }
}

@include mq(xsmall) {
    .hero {

        .container {

            img {
                max-width: 150px;
                margin-top: 140px;
            }

            p {
                @include font-size(15px);
            }

            .icon-scroll,
            .icon-scroll:before {
                left: 52.5%;
            }

            .icon-scroll {
                width: 25px;
                height: 38px;

                &:before {
                    width: 3px;
                    height: 7px;
                }
            }
        }
    }
}

@include mq(small) {
    .hero {

        .container {

            img {
                max-width: 150px;
                margin-top: 140px;
            }

            p {
                @include font-size(15px);
            }

            .icon-scroll,
            .icon-scroll:before {
                left: 52.5%;
            }

            .icon-scroll {
                width: 25px;
                height: 38px;

                &:before {
                    width: 3px;
                    height: 7px;
                }
            }
        }
    }
}
