.navbar {
    position: absolute;
    background: transparent;
    border: 0;
    padding: 25px 0;
    margin: 0;

    li {
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    a {
        color: $white !important;
        @include font-size(15px);
    }
}

.navbar.scrolled {
    position: fixed;
    background: $white;   
    padding: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    animation: topToBottom .5s ease-out;   

    ul {

        li {

            a {

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        li.active {

            a {
                background: transparent;
                color: $blue !important;
                text-decoration: underline;

                &:hover,
                &:focus {
                    background: transparent;
                }
            }
        }
    }

    a {
        color: #333 !important;
        padding: 20px 15px;
    }
}

@include mq(xxsmall) {
    .navbar {

        .navbar-header {

            .navbar-toggle {
                border: 0;
                padding: 20px;
                margin: 0;
                border-radius: 0;

                &:focus {
                    background: transparent;
                }

                .icon-bar {
                    background: $white;
                }

                .icon-bar:nth-last-of-type(2) {
                    width: 17px;
                    margin-left: 5px;
                }
            }
        }

        .navbar-collapse {
            background: rgba(51, 51, 51, 0.8);
        }
    }

    .navbar.scrolled {

        .navbar-brand {
            padding: 15px;
        }

        .navbar-header {

            .navbar-toggle {
                padding: 20px 25px;

                .icon-bar {
                    background: $midnight;
                }
            }
        }

        .navbar-collapse {
            background: $white;
        }
    }
}

@include mq(xsmall) {
    .navbar {

        .navbar-header {

            .navbar-toggle {
                border: 0;
                padding: 15px;
                margin: 0;
                border-radius: 0;

                &:focus {
                    background: transparent;
                }

                .icon-bar {
                    background: $white;
                }

                .icon-bar:nth-last-of-type(2) {
                    width: 17px;
                    margin-left: 5px;
                }
            }
        }

        .navbar-collapse {
            background: rgba(51, 51, 51, 0.8);
        }
    }

    .navbar.scrolled {

        .navbar-brand {
            padding: 15px;
        }

        .navbar-header {

            .navbar-toggle {
                padding: 20px;

                .icon-bar {
                    background: $midnight;
                }
            }
        }

        .navbar-collapse {
            background: $white;
        }
    }
}

@include mq(small) {
    .navbar {

        .navbar-header {

            .navbar-toggle {
                border: 0;
                padding: 15px;
                margin: 0;
                border-radius: 0;

                &:focus {
                    background: transparent;
                }

                .icon-bar {
                    background: $white;
                }

                .icon-bar:nth-last-of-type(2) {
                    width: 17px;
                    margin-left: 5px;
                }
            }
        }
    }

    .navbar.scrolled {

        .navbar-brand {
            padding: 15px;
        }

        .navbar-header {

            .navbar-toggle {
                padding: 20px;

                .icon-bar {
                    background: $midnight;
                }
            }
        }

        .navbar-collapse {
            background: $white;
        }
    }
}